<div class="container">
  <div class="row vh-100 align-items-center">
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-10 offset-1">
      <div
        style="min-height: 450px"
        class="rounded-4 border-0 shadow-lg bg-white"
      >
        <div class="d-flex justify-content-start align-items-center">
          <div class="p-5 w-100">
            <!-- Toggle buttons -->
            <div class="mb-4 text-center">
              <div class="btn-group w-100" role="group">
                <button 
                  type="button" 
                  class="btn rounded-start-3"
                  [class]="!showLogin ? 'btn-success' : 'btn-outline-success'"
                  (click)="switchToRegister()">
                  Sign Up
                </button>
                <button 
                  type="button" 
                  class="btn rounded-end-3"
                  [class]="showLogin ? 'btn-primary' : 'btn-outline-primary'"
                  (click)="switchToLogin()">
                  Login
                </button>
              </div>
            </div>

            <!-- Components -->
            <app-login 
              *ngIf="showLogin" 
              (switchToRegister)="switchToRegister()">
            </app-login>
            <app-registeration 
              *ngIf="!showLogin"
              (switchToLogin)="switchToLogin()">
            </app-registeration>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>